@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

header {
  background-image: url("../images/hero1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  @apply font-Roboto;
}
